<div style="width: 40%; float: left;">
  <h3>Dodaj kategorię</h3>
  <form style="margin-left: 20px">
    <div class="row">
      <div class="form-group" >
        <label>Podaj nazwę:</label>
        <input class="form-control" #kategoria type="text" required>
      </div>
    </div>
    <button class="btn btn-primary" (click)="dodajKategorie(kategoria)">Dodaj</button>
  </form>
</div>

<div style="width: 40%; float: left;">
  <h3>Usuń kategorię</h3>
  <form style="margin-left: 20px">
    <div class="row">
      <div class="form-group">
        <label>Wybierz kategorię:</label>
        <select class="form-control" #kategoria>
            <option *ngFor="let k of kategorie">{{k}}</option>
        </select>
      </div>
    </div>
    <button class="btn btn-danger" (click)="usunKategorie(kategoria)">Usuń</button>
  </form>
</div>

